.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: rgb(53, 53, 53);
  text-align: center;
  margin-top: 25%;
  margin-bottom: 50px;;
}

.main {
  border: groove;
  height: 100%;
  background: linear-gradient(to right, #39609e, #5876a6, #808c9e);
}

.playButton {
  animation: Slide_Up 2s ease;
  text-align: center;
  margin-bottom: 25%;
}


@keyframes Slide_Up {
  0%{
    transform: translateY(500px);
  }
  100%{
    transform: translatey(0);
  }
}

.box {
  
 
  background: whitesmoke;
  margin-bottom: 10px;
  box-shadow: 5px 5px #20f1e0;
  text-align: center;
 border-radius: 10%;
  border-bottom: outset;
  border-right: outset;
  
}

.boxClicked {
  background: whitesmoke;
  margin-bottom: 10px;
  box-shadow: 5px 5px #525249;
  text-align: center;
  border-radius: 10%;
  border-bottom: outset;
  border-right: outset;
  transform: translateY(0);
  box-shadow:
    inset 0 0 30px whitesmoke,
    inset 10px 0 20px #f0f,
    inset -10px 0 20px#e30ed5,
    inset 10px 0 100px #f0f,
    inset -10px 0 100px #e30ed5,
    0 0 20px #990000,
    -10px 0 20px #f0f,
    10px 0 20px#e30ed5;
}

.boxInterval {
  background: whitesmoke;
  margin-bottom: 10px;
  box-shadow: 5px 5px #bb52c9;
  text-align: center;
  border-radius: 10%;
  border-bottom: outset;
  border-right: outset;
}

.box:hover  {
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px#f2d3f0,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f2d3f0,
    inset -20px 0 300px #0ff,
    0 0 10px #990000,
    -10px 0 10px #f0f,
    10px 0 10px #0ff;
}

@media only screen and (max-height: 700px) {
  .box {
    height: 60px;
  }
}

@media only screen and (max-height: 500px) {
  .box {
    height: 30px;
  }
}

.gameheader {
  column-count: 3;
  background-color: wheat;
}

.headerDivs {
  box-shadow: 0 6px 4px -2px rgb(124, 131, 127);
  width: 30%;
  background-color: rgb(190, 201, 192);
  padding-left: 30px;
  
}

.game {
  /* border: dotted; */
  height: 100vh;
  background: linear-gradient(to right, #39609e, #5876a6, #808c9e);

}

.gameSpace {
  background: linear-gradient(to right, #39609e, #5876a6, #808c9e);
  /* height: auto; */
  padding: 10px;
  column-count: 10;
  background-color: whitesmoke;
  animation: Slide_Up 1.4s ease;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

/* //////////////// */


